#styles 
h1 {
	font-family: Tahoma;
	font-size: 5em;
	text-decoration: underline;
	
}

h2 {
	font-family: Copperplate, "Copperplate Gothic";
	font-size: 3em;
	color:blue;
	text-align: center;
	text-decoration: underline;
}

h3 {
	font-family: Copperplate, "Copperplate Gothic";
	font-size: 1em;
	color:#AAABB8;
}
h4{
	font-family: Copperplate, "Copperplate Gothic";
	font-size: 2em;
	color:#AAABB8;
	text-decoration: underline;
	text-align: center;
}

body {
    background-color:#9745E4; /*greyish  bright purple*/
	margin:10px;
    padding-left: 200px; /* Add padding on the left equal to sidebar width */
    /* other styles for body */
}





/* the header */

.main-content-header{
	background-color: #AAABB8; /*cool grey*/
	Border: 5px solid #9745E4; /*greyish  bright purple*/
	padding: 20px;
	flex: 2;
	max-width:73.05%;
}


/* Updated sidebar styling for fixed position */
.sidebar {
    position: fixed;
    top:0;
    left: 0;
    
    height: calc(100% - 60px); /* Adjust height to take up the remaining height below the header */
    overflow-y: auto; /* Allows scrolling within the sidebar */
    z-index: 500; /* Lower than header but above other content */
}




header h1 {
	text-align: center;
	letter-spacing: 5px;
	
	font-family: Garamond;
	margin: 0;
	color: #474787; /*deep purple-grey*/
	
	
}


/* Style for the nav tag*/

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav ul {
	background-color: #2C2C54; /*dark indigo*/
	line-height: 3em;
	font-size: 1em;
	text-indent: 5px;
	border-radius: 0px;
}
nav ul li a {
	
	font-weight: bold;
	text-decoration: underline;
}
nav ul li color a {
	Background-color: #9C5366;/* red purple*/
}

/* Style for the footer */
footer {
	text-align: center;
	font-size: .75em;
	font-family: Garamond;
	background-color: rgb(200,200,200);
	margin: 0px -10px 20px -10px;
}





/* Sidebar navigation */
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 210px;
    
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar ul li a {
    display: block;
    color: #AAABB8; /*cool grey*/
    padding: 8px 16px;
    text-decoration: none;
}

.sidebar ul li a.active, .sidebar ul li a:hover {
    background-color: #ECECEC;/*light grey*/
    color: #2C2C54; /*greyish  bright purple*/
}


/* Dropdown menu */
.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #474787; /*deep purple-grey*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #9745E4; /*greyish  bright purple*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}




.container {
    display: flex;
    
}

.sidebar {
    flex: 1; /* Assigns 1 part of the space to the sidebar */
    width: 20%; /* Limits the width of the sidebar */
}




.contact-info {
    position: fixed; /* Keeps the contact info fixed */
    top: 0; /* Aligns the top of the block with the top of the viewport */
    right: 0; /* Aligns the right of the block with the right of the viewport */
    width: 16%; /* Adjust width as needed */
    height: 100%; /* Takes full height of the viewport */
    background-color: #2C2C54; /* Dark indigo */
   
    padding: 20px; /* Padding inside the container */
    z-index: 500; /* Ensures it is visible above other content but below the header */
    overflow-y: auto; /* Allows scrolling within the block if content overflows */
}

.contact-info h3 {
    color: #9745E4; /*greyish  bright purple*/
}

.contact-info a {
    display: block;
    color: #AAABB8; /* cool grey*/
    text-decoration: none; /* No underline */
    padding: 5px 0; /* Padding for each link */
}

.contact-info a:hover {
    text-decoration: underline; /* Underline on hover */
	color: #9745E4;
}


.main-content {
   background-color: #474787; /* deep purple-grey */
   Border: 5px solid #9745E4; /*greyish  bright purple*/
   padding: 20px;
   flex: 2;
   max-width:73.05%
}

.main-content a {
    display: block;
    color: #AAABB8; /* cool grey*/
    text-decoration: none; /* No underline */
    padding: 5px 0; /* Padding for each link */
	
	
}

.main-content a:hover {
   /* Underline on hover */
	color: #84728D; /*grey purple*/
}


.icon-tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #9745E4; /*greyish  bright purple*/
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
	color:#ECECEC; /*light grey*/
    
    
}

.icon-tooltip:hover .tooltip-text {
    visibility: visible;
}